<div id="background">ExampleText</div>
<h1 id="color-name"></h1>
<div class="choice">
  <input type="button" class="button" id="good" value="Correct">
  <input type="button" class="button" id="bad" value="Incorrect">
</div>
<div class="spinner"></div>
<script src="javascripts/NeuralNetwork.js" charset="utf-8"></script>
