<div id="background" class="background">Generated Color</div>
<div class="choice">
  <input type="button" class="button" id="good" value="Correct">
  <input type="button" class="button" id="bad" value="Incorrect">
</div>
<div id="opbackground" class="background">Alternate Color</div>
<div class="spinner"></div>
<script src="javascripts/NeuralNetwork.js" charset="utf-8"></script>
