body {
  padding: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#background {
  width: 100%;
  height: 5rem;
  background: #000;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
}

#color-name {
  margin: 1rem auto;
}

.choice {
  display: flex;
}

.button {
  border: none;
  width: 100%;
  height: 10rem;
  color: Black;
  font-size: 3rem;
}

#good {
  background-color: rgb(103, 238, 91);
}

#bad {
  background-color: rgb(238, 91, 91);
}
